.my_search{ margin-top:0; border-bottom:1px solid #dddddd; padding:5px 10px; background:#fdeeda;}
.my_search_box{ display:block;display:-webkit-box;display:-moz-box; width:100%; background:#fff; border-radius:6px; border:1px solid #ddd;}
.my_search_box .search_input{box-flex:1;-webkit-box-flex:1;-moz-box-flex:1; }
.my_search_box .search_input input{ width:100%; height:2.5em;-webkit-appearance:none; border:none; background:none;padding-left:5px;}
.my_search_box .search_btn{ width:3em;}

.my_search_box .search_btn input{ background:none; border:none;background:url(../images/search.png) no-repeat center center;-webkit-appearance:none; background-size:auto 1.5em; width:3em; height:2.5em;}

/*m2首页1120*/
.m2_custom{ margin-top:20px;}
.m2_custom ul li{ float:left; width:25%; overflow:hidden; text-align:center; margin-bottom:25px;}
.m2_custom ul li a{ display:block; font-size:14px;}
.m2_custom ul li a span{ display:block;  height:45px; margin-bottom:10px;}
.m2_custom ul li.m2_yixiang a span{ background:url(../images/m2_yixiang.png) no-repeat center center; background-size:45px auto;}
.m2_custom ul li.m2_yuyue a span{ background:url(../images/m2_yuyue.png) no-repeat center center; background-size:45px auto;}
.m2_custom ul li.m2_weixiu a span{ background:url(../images/m2_weixiu.png) no-repeat center center; background-size:45px auto;}
.m2_custom ul li.m2_liushi a span{ background:url(../images/m2_liushi.png) no-repeat center center; background-size:45px auto;}
.m2_custom ul li.m2_zhuanyi a span{ background:url(../images/m2_zhuanyi.png) no-repeat center center; background-size:45px auto;}
.m2_custom ul li.m2_zhuanru a span{ background:url(../images/m2_zhuanru.png) no-repeat center center; background-size:45px auto;}
.m2_custom ul li.m2_daiwanshan a span{ background:url(../images/m2_daiwanshan.png) no-repeat center center; background-size:45px auto;}
.m2_custom ul li.m2_suoyou a span{ background:url(../images/m2_suoyou.png) no-repeat center center; background-size:45px auto;}

.m2_custom_performance{ border-top:1px solid #e2e2e2;}
.m2_custom_performance li{border-bottom:1px solid #e2e2e2; height:50px; overflow:hidden; }
.m2_custom_performance li a{width:33.3%; height:50px; line-height:50px; border-right:1px solid #e2e2e2;-webkit-box-sizing:border-box; float:left;}
.m2_custom_performance li a:nth-child(3){border-right:none;}
.m2_custom_performance li a em{ color:#ff0000; font-style:normal;}
.m2_custom_performance li span{ float:left; margin-left:15px; display:block; width:18px; height:50px; margin-right:7px;}
.m2_custom_performance li a.m2_xinzeng span{background:url(../images/m2_xinzeng.png) no-repeat center center; background-size:18px auto;}
.m2_custom_performance li a.m2_jidian span{background:url(../images/m2_jidian.png) no-repeat center center; background-size:18px auto;}
.m2_custom_performance li a.m2_baoyang span{background:url(../images/m2_baoyang.png) no-repeat center center; background-size:18px auto;}
.m2_custom_performance li a.m2_jingchang span{background:url(../images/m2_jingchang.png) no-repeat center center; background-size:18px auto;}
.m2_custom_performance li a.m2_banpeng span{background:url(../images/m2_banpeng.png) no-repeat center center; background-size:18px auto;}
.m2_custom_performance li a.m2_baoxian span{background:url(../images/m2_baoxian.png) no-repeat center center; background-size:18px auto;}
.m2_custom_performance li a.m2_yingye span{background:url(../images/m2_yingye.png) no-repeat center center; background-size:18px auto;}
.m2_custom_performance li a.m2_jingpin span{background:url(../images/m2_jingpin.png) no-repeat center center; background-size:18px auto;}
.m2_custom_performance li a.m2_xubao span{background:url(../images/m2_xubao.png) no-repeat center center; background-size:18px auto;}

.baoyang_alert{ background:url(../images/weixiu.png) no-repeat 5px center}
/*m2首页1120*/
